<html>
<head>
  <link rel = stylesheet type = text/css href = {{url_for('static', filename = 'style.css')}}>
</head>
<body>
  <div style = "align:center; text-align:center;">
    <h2>Confirm Deletion?</h2>
    <form action = "{{url_for('deleteMenuItem', restaurant_id = menuItem.restaurant_id, menu_id = menuItem.id)}}"
      method = 'POST'>
      <input type = 'submit' value ='Yes'>
    </form>
    <a href = '{{url_for('restaurantMenu',restaurant_id = menuItem.restaurant_id)}}'>Cancel and go back to menu</a>
  </div>
</body>
</html>
